.using{
	background: radial-gradient(77.38% 80.59% at 50% 19.41%, #FFFFFF 0%, #F2F2F2 100%), radial-gradient(71.7% 74.67% at 50% 74.67%, #FFFFFF 0%, #F8F8F8 100%);
	&-block{
		width: calc(100% + 30px);
		margin: 0 -15px;
	}
	&__item{
		width: calc(100% / 3 - 30px);
		margin: 0 15px;
		margin-bottom: 50px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&-item{
		&__img{
			position: relative;
			height: 350px;
			margin-bottom: 20px;
			overflow: hidden;
			img{
				position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    -o-object-fit: cover;
			       object-fit: cover;
			}
		}
		&__text{
			position: relative;
			padding-top: 60px;
			z-index: 5;
			&:before{
			    content: '';
			    position: absolute;
			    left: -65px;
			    top: -5px;
			    background-image: url(../images/using/round.svg);
			    background-repeat: no-repeat;
			    width: 306px;
			    height: 310px;
			    z-index: -1;
			}
		}
	}
}

@media (max-width: 1580px){
	.using-item__img{
		height: 290px;
	}
	.using__item-style{
		img{
			height: 320px;
		}
	}
}
@media (max-width: 1270px){
	.using-item__text:before{
		left: -42px;
	    background-size: 75%;
	}
}
@media (max-width: 1000px){
	.using__item{
		width: calc(100% / 2 - 30px);
		margin-bottom: 30px;
	}
	.using-item__img{
		height: 210px;
	}
	.using__item-style{
		display: none;
	}
}
@media (max-width: 480px){
	
}
@media (max-width: 400px){
	.using__item{
		width: 100%;
	}
}
